body {
	background-color: #f2f2f2;
	font-family: "Hiragino Sans GB";
}
.login {
	width: 100%;
	height: 100%;
}
/*导航栏*/
nav {
	height: 48px;
	background-color: #f29004;
	text-align: center;
	line-height: 48px;
	padding-left: 12px;
	padding-right: 12px;
}
#forgetPwd {
	float: left;
	width: 10px;
	height: 10px;
	border-left: 2px solid #fff;
	border-top: 2px solid #fff;
	-webkit-transform: rotateZ(-45deg);
	transform: rotateZ(-45deg);
	margin-top: 16px;
}
nav>.contact {
	display: inline-block;
	font-size: 1.5rem;
	color:#fff;	
	margin-left:-7px;	
}
nav>a .bianji {
	display: inline-block;
	font-size: 1.5rem;
	color:#fff;
	float: right;
}

/*正文*/
.txt {
	width: 100%;
	height: 190px;
	resize: none;
	outline: none;
	text-indent: 2em;
	padding-top: 10px;
	font-size: 1.5rem;
	border: none;
}
#text {
	width: 92%;
	height: 48px;
	background-color: #fff;
	margin-left: 4%;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	color: #666;
	font-size: 1.5rem;
	text-indent: 1em;
}






