body {
	background-color: #f2f2f2;
	font-family: "Hiragino Sans GB";
}
.search_result {
	position:relative;
	width: 100%;
	height: 100%;
	background-color: #f2f2f2;
}
/*导航栏*/
nav {
	height: 48px;
	background-color: #f29004;
	text-align: center;
	line-height: 48px;
	padding-left: 12px;
	padding-right: 12px;
}
#search_result {
	float: left;
	width: 12px;
	height: 12px;
	border-left: 2px solid #fff;
	border-top: 2px solid #fff;
	-webkit-transform: rotateZ(-45deg);
	transform: rotateZ(-45deg);
	margin-top: 16px;
}
nav>span {
	display: inline-block;
	font-size: 1.6rem;
	color:#fff;	
	margin-left:-7px;	
}

/*正文*/
ul,li{
	width: 100%;
	background-color: #fff;
}
ul {
	margin-bottom: 10px;
}
.li1 {
	position: relative;
	height: 48px;
	margin-bottom: 10px;
	overflow: hidden;
}
.li1 a {
	width: 18%;
	height: 100%;
	margin-left: 1%;
	margin-right: 1%;
	float: left;
	font-size: 1.4rem;
	color:#333;
	line-height: 48px;
	text-align: center;
	box-sizing: border-box;
}
.li1 .aa {
	border-bottom: 2px solid #f29004;
}

.li2 {
	height: 40px;
	border-bottom: 1px solid #ddd;
}
.li2 .goumai {
	margin-left: 10px;
	line-height: 40px;
	float: left;
	font-size: 1.3rem;
	color: #666;
}
.li2 .fukuan {
	margin-right: 10px;
	line-height: 40px;
	float: right;
	font-size: 1.3rem;
	color: #f29004;
}
.li5 {
	height: 40px;
	border-bottom: 1px solid #ddd;
}
.li5 .goumai {
	margin-left: 10px;
	line-height: 46px;
	float: left;
	font-size: 1.4rem;
	color: #666;
}
#quxiao {
	width: 86px;
	height: 30px;
	border:1px solid #999;
	outline: none;
	border-radius: 4px;
	margin-top: 4px;
	background-color: #fff;
	float: right;
	margin-right: 12px;
	font-size: 1.4rem;

}
#zhifu {
	width: 86px;
	height: 30px;
	border:1px solid #f29004;
	color: #f29004;
	outline: none;
	border-radius: 4px;
	margin-top: 4px;
	background-color: #fff;
	float: right;
	margin-right: 12px;
	font-size: 1.4rem;
	
}
.li3 {
	height: 94px;
	border-bottom: 1px solid #ddd;
	overflow: hidden;
}
.li3 .left {
	width: 16%;
	height: 70px;
	margin:10px;
	border:1px solid #ddd;
	float: left;
}
.li3 .right {
	float: left;
	width: 74%;
	height: 70px;
	margin-top: 10px;
}
.li3 .right p {
	font-size: 1.4rem;
	line-height: 2rem;
}
.li3 .right .p11 {
	color: #1a1a1a;
}
.li3 .right .p22 {
	color: #de0000;
	font-size: 1.3rem;
}
.li3 .right .p33 {
	color: #757575;
}
.li3 .right .p33 .le{
	color: #de0000;
	float: left;
}
.li3 .right .p33 .ri{
	float: right;
}
.li4 {
	height: 40px;
	font-size: 1.3rem;
	color: #666;
	border-bottom: 1px solid #ddd;
	margin-top: 10px;
	line-height: 40px;
	text-indent: 10px;
}








